<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<!-- -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- font -->
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">

<!-- icon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
body {
	font-family: 'Balsamiq Sans', cursive;
	background-image: url(images/pic.jpg);
	}

input[type=text], input[type=password] {
  padding: 12px 80px 12px 20px;
  margin: 8px 40px 5px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
  outline: none;
}

button {
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  color: white;
  border-radius: 18px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  margin-left: 120px;
}

button:hover {
  opacity: 0.8;
}


.container {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  background-color: #fff;
}
.linkLog{
	color: #00796b;
}
.linkLog:hover{
	text-decoration: none;
}
.navbar {
			color: #000;
			font-size: 25px;
			background-color: #fff;
		}
.navbar:hover{
	text-decoration: none;
}

</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar" th:href="@{/welcome}"><i class="material-icons">&#xe62e;</i>
	<span style="color: #00796b;">Meeting</span>Room</a>

</nav>

<h2 style="text-align: center; margin-top: 150px;">Login Form</h2>

<form action="/action_page.php" method="post">

  <div class="container">
    <label for="uname" style=""><i style="font-size:24px" class="fa">&#xf007;</i></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br>

    <label for="psw"><i style="font-size:24px" class="fa">&#xf023;</i></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br>
        
    <button type="submit">Login</button><br>
	<a th:href="@{/register}" class="linkLog">Assign here!</a>

  </div>

</form>

</body>
</html>